---
import { SITE_BASE } from '@/consts'
import FormattedDate from './FormattedDate.astro'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import noThumbnail from '../assets/no-thumbnail.jpg'

const { freebie } = Astro.props

const freebieImages = import.meta.glob<{ default: ImageMetadata }>(
	'/src/assets/freebies/**/*.{jpeg,jpg,png,gif,webp}'
)

const coverImageKey = Object.keys(freebieImages).find((path) =>
	path.includes(`/freebies/${freebie.slug}/cover.`)
)
---

<a
	href={`${SITE_BASE}/freebies/${freebie.slug}/`}
	class="flex flex-col gap-4 pb-8 h-full group transition-colors"
>
	{
		coverImageKey && freebieImages[coverImageKey] ? (
			<Image
				src={freebieImages[coverImageKey]()}
				alt={freebie.data.title}
				class="object-cover rounded-xl aspect-video"
				loading="eager"
			/>
		) : (
			<Image
				src={noThumbnail}
				alt={freebie.data.title}
				class="object-cover rounded-xl aspect-video"
				loading="eager"
			/>
		)
	}
	<h4
		class="text-2xl font-semibold group-hover:text-primary dark:group-hover:text-primary-dark group-hover:underline transition-colors"
	>
		{freebie.data.title}
	</h4>
	<p class="opacity-80">
		{freebie.data.description}
	</p>
	<p class="uppercase text-sm mt-auto tracking-tight">
		<FormattedDate date={freebie.data.pubDate} />
	</p>
</a>
