---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseHead from '../../components/BaseHead.astro'
import Navbar from '../../components/Navbar.astro'
import Footer from '../../components/Footer.astro'

export async function getStaticPaths() {
	const reviews = await getCollection('reading-list')
	return reviews.map((review) => ({
		params: { slug: review.slug },
		props: review,
	}))
}
type Props = CollectionEntry<'reading-list'>

const review = Astro.props
const { Content } = await review.render()
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={review.data.title}
			description={`Review of ${review.data.title} by ${review.data.author}`}
		/>
	</head>
	<body>
		<a
			href="#main-content"
			class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-0 focus:z-50 focus:bg-background focus:text-foreground focus:p-4"
		>
			Skip to main content
		</a>
		<Navbar />
		<main id="main-content">
			<article>
				<div class="prose">
					<div class="title">
						<h1>{review.data.title}</h1>
						<p>Author: {review.data.author}</p>
						<p>Rating: {review.data.rating}</p>
						<p>Genre: {review.data.genre}</p>
						<p>Format: {review.data.format}</p>
						<a href={review.data.link} target="_blank">Book Link</a>
						<hr />
					</div>
					<Content />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
